<html>
    <head>
      </head>
    <body>
      <center>
      <H1> Insta _ Api _test _server </H1>
       <h2> <\> </h2>
      <br>
      <a href = {{url}}>
        <button type = "button"> Connect To Insta </button>
    </a>
  </center>
    </body>

  <script>


   </script>


    </html>